@import "_variables"
@import "_util";
@import "_mixins";
@import "_extend";

global-reset()

@font-face {
  font-family: 'cathsgbr';
  src: url("fonts/cathsgbr.eot");
  src: url("fonts/cathsgbr.eot?#iefix") format("embedded-opentype"), url("fonts/cathsgbr.woff") format("woff"), url("fonts/cathsgbr.ttf") format("truetype"), url("fonts/cathsgbr.svg#cathsgbr") format("svg");
  font-weight: lighter;
  font-style: normal; }

@font-face {
  font-family: 'iconfont';
  src: url("//at.alicdn.com/t/font_1473170564_3825922.eot");
  /* IE9*/
  src: url("//at.alicdn.com/t/font_1473170564_3825922.eot?#iefix") format("embedded-opentype"), url("//at.alicdn.com/t/font_1473170564_3825922.woff") format("woff"), url("//at.alicdn.com/t/font_1473170564_3825922.ttf") format("truetype"), url("//at.alicdn.com/t/font_1473170564_3825922.svg#iconfont") format("svg");
  /* iOS 4.1- */ }

*,
*:before,
*:after
  box-sizing: border-box

html
  height: 100%
  //border-top: 2px solid $color-text
  -webkit-text-size-adjust: 100%
  -ms-text-size-adjust: 100%

body
  color: $color-text
  background-color: $color-background
  font-size: $font-size
  font-family: $font-family-body
  font-weight: 400
  line-height: $line-height
  text-rendering: geometricPrecision
  min-height: 100%
  display: flex
  flex-direction: column
  antialias()

#writing .post-list a,
#archive .post-list a
  line-height: 1.2
  font-weight: bold
  color: #383838
  text-transform: capitalize
  background-image: none

#writing .post-list a:hover,
#archive .post-list a:hover
  background-image: linear-gradient(transparent, transparent 4px, #3ce3e8 4px, #71f139)



#title h1
  font-weight: 500
  font-family: cathsgbr

.content
  flex: 1
  @extend $base-style

  p,
  ul,
  ol
    letter-spacing: .5px;
    font-size: 14px;
    line-height: 1.8;
    color: #444;
    font-weight: 300;
    hyphens(auto)

  em
    background: #f9f2f4;
    font-size: 12px;
    color: #c7254e;
    line-height: 24px;

  em u,
  u em
    font-size: 12px;
    color: #9b9ea0;
    line-height: 24px;
    text-decoration: none;
    background-color: #fff;


  pre,
  code
    hyphens(manual)
  
  .highlight
    a
      color: $color-code-url
      &:hover
        background-image: none

  a
    text-decoration: none
    color: #42b983
    font-weight: 600
    underline(5px, $color-text)
    &:hover
      background-image: linear-gradient(transparent, transparent 4px, $color-link 4px, $color-link)

  a.icon
    background: none
    &:hover
      color: $color-link

  h1 a,
  .h1 a,
  h2 a,
  h3 a,
  h4 a,
  h5 a,
  h6 a
    color: inherit
    text-decoration: none
    background: none

  h6
    font-size: 12px;
    text-align: center;
    display: block

  h1 a:hover,
  .h1 a:hover,
  h2 a:hover,
  h3 a:hover,
  h4 a:hover,
  h5 a:hover,
  h6 a:hover
    underline(6px, $color-link)

  h1, h2, h3, h4, h5, h6
    font-family: "TimesNewRomanPS-ItalicMT", "PingFang SC", "Lantinghei SC", "Microsoft Yahei", "Hiragino Sans GB", "Microsoft Sans Serif", "WenQuanYi Micro Hei", sans
    -webkit-font-smoothing: initial
    font-weight: 300
    color: var(--text-color)
    line-height: 1.35
    font-variant-numeric: lining-nums
    margin-bottom: 1em

  h1
    padding-bottom: .4rem
    font-size: 2.2rem
    line-height: 1.3


  h2
    font-size: 1.75rem
    line-height: 1.225
    margin: 35px 0px 15px 0px


  h3
    font-size: 1.4rem
    line-height: 1.43
    margin: 20px 0px 7px 0px


  h4
    font-size: 1.2rem


  h5
    font-size: 1rem


  h6
    font-size: 12px
    color: #777


  h1 strong,
  h2 strong,
  h3 strong,
  h4 strong,
  h5 strong,
  h6 strong
    font-family: "Pacifico", cursive
    text-shadow: 0.4vw 0.4vw #dcfbfc
    color: #11a9af
    margin: 0.5em 0 0.7em


@media (min-width: 540px)
  .image-wrap
    flex-direction: row
    margin-bottom: 2rem
    .image-block
      margin-right: 2rem
      flex: 1 0 35%
    p
      flex: 1 0 65%

.width
  width: 100%
  max-width: 59rem

@media (max-width: 480px)
  // smaller margins at smaller screen widths
  .px3
    padding-left: 1rem
    padding-right: 1rem
  .my4
    margin-top: 2rem
    margin-bottom: 2rem

@media (min-width: 480px)
  p
    text-align: justify

@import "_extend"
@import "_partial/header"
@import "_partial/post/actions_desktop"
@import "_partial/post/actions_mobile"
@import "_partial/index"
@import "_partial/article"
@import "_partial/archive"
@import "_partial/comments"
@import "_partial/footer"
@import "_partial/pagination"
@import "_partial/search"

// Code
@import "_highlight/" + highlight
pre
  font-family: $font-family-mono
  font-size: 13px
  padding: 0px 15px
  padding-bottom: 0
  line-height: 22px
  -webkit-border-radius: 4px
  border-radius: 4px
  border: 1px dotted #666
  overflow-x: auto
code
  margin: 0 2px
  padding: 2px 4px
  border-radius: 2px
  font-family: Source Sans Pro, Roboto Mono, Monaco, courier, monospace !important
  font-size: 12px
  color: #e96900
  background-color: #f8f8f8
pre code
  border: none
  display: block
  padding: 0

.highlight
  font-family: $font-family-mono;
  // background: lighten($color-background, 2%)
  // color: $color-light
  -webkit-border-radius: 4px
  border-radius: 4px
  padding: 0px 15px
  overflow-x: auto
  margin: 1rem 0 1rem 0
  figcaption
    zoom: 1
    margin: -5px 0 5px
    font-size: 0.9em
    color: #999
    a
      float: right
    &:before,
      content: ""
      display: table
    &:after
      clear: both
  pre
    padding: 0
    border: none
    background: none
  table
    width: auto
  td.gutter
    text-align: right
  .line
  	height: 22px


#tag-cloud {
  margin: 30px 0;
}
#tag-cloud a {
  border: none;
  line-height: 28px;
  margin: 0 4px;
  margin-bottom: 8px;
  background: #63a35c;
  display: inline-block;
  border-radius: 4px;
  padding: 0 10px;
  color: #fff;
  transition: background 0.5s;
}
#tag-cloud a:hover {
  background: #0085a1;
}
#tag-cloud .tag0 {
  background: #bbe;
}
#tag-cloud .tag1 {
  background: #9cb2e1;
}
#tag-cloud .tag2 {
  background-color: rgba(0,133,161,0.8);
}